/* Não utilizar margin right or left, somente top ou down */

*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #F7F7F7;
}

.wrapper{
    background: #FFFFFF;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -10px rgba(0,0,0,0.5);
}

.signup, .login {
    padding: 16px;
}

.form header{ 
    font-size: 25px;
    font-weight: 800;
    /* padding-top: 10px; */
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.form form {
    /* margin: 20px 0; */
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form form .error-txt{
    margin-bottom: 5px ;
    color: #721c24;
    background: #f8d7da;
    text-align: center;
    border-radius: 5px;
    padding: 8px 10px;
    /* margin-bottom: 10px; */
}

.form form .field {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 10px;
}

.form form .field input {
    outline: none;
}

.form form .input input{
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.form form .name-details {
    display: flex;
    justify-content: space-between;
}

.form .name-details .field:first-child{
    width: 48%;
}

.form .name-details .field:nth-child(2){
    width: 48%;
}

.form form .field label {
    margin-bottom: 5px;
}

.form form .image input {
    font-size: 17px;
}

.form form .button input {
    height: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    font-size: 17px;
    font-weight: 600;
    background: #333;
    color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}

.form form .field i{
    position: absolute;
    padding-left: 90%;
    color: #ccc;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form .link{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 17px;
}

.form .link a{
    color: #333;
    text-decoration: none;
}

.form .link a:hover{
    text-decoration: underline;
}