/* Não utilizar margin right or left, somente top ou down */

*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1D1D1B;
}

.wrapper{
    background: #2A2A27;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -10px rgba(0,0,0,0.5);
}

.signup, .login {
    padding: 16px;
}

.form header{ 
    font-size: 25px;
    color: #FFFFFF;
    font-weight: 800;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #1D1D1B;
    text-align: center;
}

:is(.form.signup, .form.login) img.logo-uniasselvi{
    border-radius: 0px;
    height: 80px;
    display: block;
    margin: 10px auto;   
}

.form form {
    /* margin: 20px 0; */
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form form .error-txt{
    margin-bottom: 5px ;
    color: #721c24;
    background: #CF6679;
    text-align: center;
    border-radius: 5px;
    padding: 8px 10px;
    display: none;
    /* margin-bottom: 10px; */
}

.form form .field {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 10px;
}

.form form .field input {
    outline-color: none;
}

.form form .input input{
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #2A2A27;
    outline: none;
    color: #ccc;
}

:is(
    .form form .input input,
    .users .search input,
    .typing-area input
):focus{
    border: 1px solid #00a09f;
    color: #f1f1f1;
    transition: border 0.5s, color 0.5s;
}

:is(
    .form form .input input,
    .users .search input,
    .typing-area input
):not(:focus){
    transition: border 0.5s, color 0.5s;
}

.form form .name-details {
    display: flex;
    justify-content: space-between;
}

.form .name-details .field:first-child{
    width: 48%;
}

.form .name-details .field:nth-child(2){
    width: 48%;
}

.form form .field label {
    margin-bottom: 10px;
    color: #FFFFFF;
}

.form form .image input {
    font-size: 12px;
    color: #ccc;
}

.form form .image input::file-selector-button {
   color: #2A2A27;
   background-color: #ccc;
   border: none;
   padding: 5px 10px;
   border-radius: 3px;
   cursor: pointer;
   font-size: 17px;
   margin-right: 10px;
}

.form form .image input::file-selector-button:hover {
    background-color: #dfdfdf;
}

.form form .image input::file-selector-button:active {
    background-color: #f1f1f1;
    font-weight: 500;
}

.form form .button input {
    height: 45px;
    margin-top: 5px;
    margin-bottom: 5epx;
    border: none;
    font-size: 17px;
    font-weight: 600;
    background: #00a09f;
    color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s;
}

:is(
    .form form .button input,
    .users .search button,
    .typing-area button,
    .users header .logout,
):hover {
    background-color: rgba(0, 160, 159, 0.4);
    transition: background-color 0.25s;
}

:is(
    .form form .button input,
    .users .search button,
    .typing-area button,
    .users header .logout,
):active {
    background-color: rgba(0, 160, 159, 0.8);
}

.form form .field i{
    position: absolute;
    right: 20px;
    color: #a8a8a8;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form form .field i.active::before{
    content: "\f070";
    color: #f0f0f0;
}

.form .link{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 17px;
    color: #FFFFFF;
}

.form .link a{
    color: rgba(255, 255, 0, 0.7);
    text-decoration: none;
}

.form .link a:hover{
    color: #ff0;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.25s;
}

.form .link a:not(:hover){
    transition: color 0.25s;
}

/* CSS para a área de Usuários (Users) */

.users{
    padding: 25px 30px;
}

.users header,
.users-list a{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 2px solid #1D1D1B;
}

.wrapper img{
    object-fit: cover;
    border-radius: 50%;
}

:is(.users, .users-list) .content{
    display: flex;
    align-items: center;
}

.users header .content img{
    height: 50px;
    width: 50px;
}

:is(.users, .users-list) .details{
    padding-left: 15px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

:is(.users, .users-list) .details span{
    font-size: 18px;
    font-weight: 500;
    outline: none;
}

.users header .logout{
   color: #FFFFFF;
   font-size: 17px;
   padding: 7px 15px;
   background: #00a09f;
   border-radius: 5px;
   text-decoration: none;
   transition: background-color 0.25s;
}

.users .search {
    margin: 20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #383838;
}

.users .search .text {
   font-size: 12px;
   color: #ccc;
   padding-left: 15px;
}

.users .search input {
    position: absolute;
    height: 45px;
    width: calc(100% - 60px);
    border: 2px solid #1D1D1B;
    background-color: #2A2A27;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #ccc;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
 }

.users .search input.active {
    opacity: 1;
    pointer-events: auto;
    width: calc(100% - 50px)    
}

 .users .search button {
    width: 50px;
    height: 45px;
    border: none;
    outline: none;
    color: #00a09f;
    font-size: 17px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: all 0.25s ease;
    background-color: #383838;
 }

 .users .search button.active{
    background-color: #00a09f;
    color: #FFFFFF;
 }

 .users .search button.active i::before{
    content: "\f00d";
 }

 .users-list {
    max-height: 350px;
    overflow-y: auto;
 }

 :is(.chat-box, .users-list)::-webkit-scrollbar {
    width: 0px;
 }

 .users-list a .content img {
    height: 40px;
    width: 40px;
 }

 .users-list a .content p {
    color: #afafb4;
 }

 .users-list a{
    padding-right: 15px;
    margin-bottom: 15px;
    page-break-after: 10px;
    border-bottom-color: #1D1D1B;
    text-decoration: none;
 }

 .users-list a:last-child{
    margin-bottom: 0px;
    border: none;
 }

 .users-list a .status-dot{
    font-size: 12px;
    color: #468669;
 }

 /* Guardar variável para aplicar no php quando o status for Offline */
 .users-list a .status-dot.offline{
    font-size: 12px;
    color: #5f5f5f;
 }

 /* CSS para a área do chat */

.chat-area header {
    display: flex;
    align-items: center;
    padding: 18px 20px;
}


.chat-area header .back-icon{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    transition: background-color 0.25s;
    border-radius: 50%;
    height: 2em;
    /* width of the icon */
    width: 2em;
    text-decoration: none;
}

.chat-area header .back-icon:hover {
    background-color: rgba(0, 0, 0, .15);
    cursor: pointer;
}

.chat-area header .back-icon:active {
    background-color: rgba(0, 0, 0, .5);
}

.chat-area header img{
    height: 45px;
    width: 45px;
    margin: 0 15px;
}

.chat-area header span {
    font-size: 17px;
    font-weight: 500;
    color: #FFFFFF;
}

.chat-area header p {
    font-size: 15px;
    color: #ccc;
}

.chat-box {
    height: 500px;
    overflow-y: auto;
    background: #1D1D1B;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgba(0 0 0 / 5%),
                inset 0 -32px 32px -32px rgba(0 0 0 / 5%);
}

.chat-box .chat p{
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgba(0 0 0 / 8%),
                0 16px 16px -16px rgba(0 0 0 / 10%);
}

.chat-box .chat {
    margin: 15px 0;
}

.chat-box .outgoing {
    display: flex;
}

.outgoing .details {
    max-width: calc(100% - 130px);
    margin-left: auto;
}

.outgoing .details p{
    background: #00a09f;
    color: #FFFFFF;
    border-radius: 18px 18px 0 18px;
}

.chat-box .incoming{
    display: flex;
    align-items: flex-end;
}

.chat-box .incoming img{
    height: 35px;
    width: 35px;
}

.incoming .details {
    margin-left: 10px;
    max-width: calc(100% - 130px);
    margin-right: auto;
}

.incoming .details p {
    background: #2A2A27;
    color: #FFFFFF;
    border-radius: 18px 18px 18px 0;
}
.chat-area .typing-area{
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}

.typing-area input {
    height: 45px;
    width: calc(100% - 48px);
    background: #2A2A27;
    font-size: 17px;
    border: 1px solid #1D1D1B;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #ccc;
}

.typing-area button {
    width: 42px;
    border: none;
    outline: none;
    background-color: #00a09f;
    color: #FFFFFF;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.25s;
}


